<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- saleMapper.xml -->

<mapper namespace="kr.co.asac.sales.dao.SaleDAO">
	
	<!-- saleAdmin -->
	<!-- 요일별 Data -->
	<select id="saleAdminDayList" resultType="kr.co.asac.orders.bean.OrderBean">
		select case dayofweek(oregdate)
			when 1 then "Sun"
			when 2 then "Mon"
			when 3 then "Tue"
			when 4 then "Wed"
			when 5 then "Thu"
			when 6 then "Fri"
			when 7 then "Sat" end as DateRange
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where date_format(oregdate,"%Y%m%d")
		group by dayofweek(oregdate)
	</select>
	
	<!-- 구매 완료 요일별 Data -->
	<select id="saleAdminDayConfirmList" resultType="kr.co.asac.orders.bean.OrderBean">
		select case dayofweek(oregdate)
			when 1 then "Sun"
			when 2 then "Mon"
			when 3 then "Tue"
			when 4 then "Wed"
			when 5 then "Thu"
			when 6 then "Fri"
			when 7 then "Sat" end as DateRange
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where date_format(oregdate,"%Y%m%d") and oconfirmed='구매완료'
		group by dayofweek(oregdate)
	</select>
	
	<!-- 일별 Data -->
	<select id="saleAdminDateList" resultType="kr.co.asac.orders.bean.OrderBean">
		select date(oregdate) as date
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where date_format(oregdate,"%Y%m%d")
		group by date(oregdate)
	</select>
	
	<!-- 구매완료 일별 Data -->
	<select id="saleAdminDateConfirmList" resultType="kr.co.asac.orders.bean.OrderBean">
		select date(oregdate) as date
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where date_format(oregdate,"%Y%m%d") and oconfirmed='구매완료'
		group by date(oregdate)
	</select>
	
	<!-- 주별 Data -->
	<select id="saleAdminWeekList" resultType="kr.co.asac.orders.bean.OrderBean">
		select week(oregdate) as week
        , count(ocode) as Count
		, sum(p.pprice) as Total
		, CONCAT(DATE_FORMAT(DATE_ADD(oregdate, INTERVAL(1-DAYOFWEEK(oregdate)) DAY),'%Y-%m-%e'), ' - '    
		, DATE_FORMAT(DATE_ADD(oregdate, INTERVAL(7-DAYOFWEEK(oregdate)) DAY),'%Y-%m-%e')) AS DateRange
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		GROUP BY YEARWEEK(oregdate)
	</select>
	
	<!-- 구매완료 주별 Data -->
	<select id="saleAdminWeekConfirmList" resultType="kr.co.asac.orders.bean.OrderBean">
		select week(oregdate) as week
        , count(ocode) as Count
		, sum(p.pprice) as Total
		, CONCAT(DATE_FORMAT(DATE_ADD(oregdate, INTERVAL(1-DAYOFWEEK(oregdate)) DAY),'%Y-%m-%e'), ' - '    
		, DATE_FORMAT(DATE_ADD(oregdate, INTERVAL(7-DAYOFWEEK(oregdate)) DAY),'%Y-%m-%e')) AS DateRange
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where oconfirmed='구매완료'
		GROUP BY YEARWEEK(oregdate)
	</select>
	
	<!-- 월별 Data -->
	<select id="saleAdminMonthList" resultType="kr.co.asac.orders.bean.OrderBean">
		select month(oregdate) as month
        , count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		GROUP BY month(oregdate)
	</select>
	
	<!-- 구매완료 월별 Data -->
	<select id="saleAdminMonthConfirmList" resultType="kr.co.asac.orders.bean.OrderBean">
		select month(oregdate) as month
        , count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where oconfirmed='구매완료'
		GROUP BY month(oregdate)
	</select>
	
	<!-- 판매자별 Data -->
	<select id="saleAdminSellerList" resultType="kr.co.asac.orders.bean.OrderBean">
		select s.sid
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		group by s.sid
	</select>

	<!-- 구매완료 판매자별 Data -->
	<select id="saleAdminSellerConfirmList" resultType="kr.co.asac.orders.bean.OrderBean">
		select s.sid
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where oconfirmed='구매완료'
		group by s.sid
	</select>
	
	<!-- 카테고리별 Data -->
	<select id="saleAdminCateList" resultType="kr.co.asac.orders.bean.OrderBean">
		select p.pcate
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		group by p.pcate
	</select>
	
	<!-- 구매완료 카테고리별 Data -->
	<select id="saleAdminCateConfirmList" resultType="kr.co.asac.orders.bean.OrderBean">
		select p.pcate
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where oconfirmed='구매완료'
		group by p.pcate
	</select>
	
	<!-- 카테고리별 상품 Data -->
	<select id="saleAdminCateProductList" resultType="kr.co.asac.orders.bean.OrderBean">
		select p.pname
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where p.pcate = #{pcate}
	</select>
	
	<!-- 구매완료 카테고리별 상품 Data -->
	<select id="saleAdminCateProductConfirmList" resultType="kr.co.asac.orders.bean.OrderBean">
		select p.pname
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where p.pcate = #{pcate} and oconfirmed='구매완료'
	</select>
	
	<!-- 카테고리별 본인 Data -->
	<select id="saleAdminSellerCateList" resultType="kr.co.asac.orders.bean.OrderBean">
		select p.pcate
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id}
		group by p.pcate
	</select>
	
	<!-- 구매완료 카테고리별 본인 Data -->
	<select id="saleAdminSellerCateConfirmList" resultType="kr.co.asac.orders.bean.OrderBean">
		select p.pcate
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id} and oconfirmed='구매완료'
		group by p.pcate
	</select>
	
	<!-- 카테고리별 상품 본인 Data -->
	<select id="saleAdminSellerCateProductList" resultType="kr.co.asac.orders.bean.OrderBean">
		select p.pname
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id} and p.pcate = #{pcate}
	</select>
	
	<!-- 구매완료 카테고리별 상품 본인 Data -->
	<select id="saleAdminSellerCateProductConfirmList" resultType="kr.co.asac.orders.bean.OrderBean">
		select p.pname
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id} and p.pcate = #{pcate} and oconfirmed='구매완료'
	</select>
	
	<!-- SaleSeller -->
	<!-- 요일별 Data -->
	<select id="saleSellerDayList" resultType="kr.co.asac.orders.bean.OrderBean">
		select case dayofweek(oregdate)
			when 1 then "Sun"
			when 2 then "Mon"
			when 3 then "Tue"
			when 4 then "Wed"
			when 5 then "Thu"
			when 6 then "Fri"
			when 7 then "Sat" end as DateRange
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id} and date_format(oregdate,"%Y%m%d")
		group by dayofweek(oregdate)
	</select>
	
	<!-- 구매 완료 요일별 Data -->
	<select id="saleSellerDayConfirmList" resultType="kr.co.asac.orders.bean.OrderBean">
		select case dayofweek(oregdate)
			when 1 then "Sun"
			when 2 then "Mon"
			when 3 then "Tue"
			when 4 then "Wed"
			when 5 then "Thu"
			when 6 then "Fri"
			when 7 then "Sat" end as DateRange
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id} and date_format(oregdate,"%Y%m%d") and oconfirmed='구매완료'
		group by dayofweek(oregdate)
	</select>
	
	<!-- 일별 Data -->
	<select id="saleSellerDateList" resultType="kr.co.asac.orders.bean.OrderBean">
		select date(oregdate) as date
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id} and date_format(oregdate,"%Y%m%d")
		group by date(oregdate)
	</select>
	
	<!-- 구매완료 일별 Data -->
	<select id="saleSellerDateConfirmList" resultType="kr.co.asac.orders.bean.OrderBean">
		select date(oregdate) as date
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id} and date_format(oregdate,"%Y%m%d") and oconfirmed='구매완료'
		group by date(oregdate)
	</select>
	
	<!-- 주별 Data -->
	<select id="saleSellerWeekList" resultType="kr.co.asac.orders.bean.OrderBean">
		select week(oregdate) as week
        , count(ocode) as Count
		, sum(p.pprice) as Total
		, CONCAT(DATE_FORMAT(DATE_ADD(oregdate, INTERVAL(1-DAYOFWEEK(oregdate)) DAY),'%Y-%m-%e'), ' - '    
		, DATE_FORMAT(DATE_ADD(oregdate, INTERVAL(7-DAYOFWEEK(oregdate)) DAY),'%Y-%m-%e')) AS DateRange
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id}
		GROUP BY YEARWEEK(oregdate)
	</select>
	
	<!-- 구매완료 주별 Data -->
	<select id="saleSellerWeekConfirmList" resultType="kr.co.asac.orders.bean.OrderBean">
		select week(oregdate) as week
        , count(ocode) as Count
		, sum(p.pprice) as Total
		, CONCAT(DATE_FORMAT(DATE_ADD(oregdate, INTERVAL(1-DAYOFWEEK(oregdate)) DAY),'%Y-%m-%e'), ' - '    
		, DATE_FORMAT(DATE_ADD(oregdate, INTERVAL(7-DAYOFWEEK(oregdate)) DAY),'%Y-%m-%e')) AS DateRange
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id} and oconfirmed='구매완료'
		GROUP BY YEARWEEK(oregdate)
	</select>
	
	<!-- 월별 Data -->
	<select id="saleSellerMonthList" resultType="kr.co.asac.orders.bean.OrderBean">
		select month(oregdate) as month
        , count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id} 
		GROUP BY month(oregdate)
	</select>
	
	<!-- 구매완료 월별 Data -->
	<select id="saleSellerMonthConfirmList" resultType="kr.co.asac.orders.bean.OrderBean">
		select month(oregdate) as month
        , count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id} and oconfirmed='구매완료'
		GROUP BY month(oregdate)
	</select>
	
	<!-- 본인 상품 Data -->
	<select id="saleSellerProductList" resultType="kr.co.asac.orders.bean.OrderBean">
		select p.pname
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id}
	</select>
	
	<!-- 구매완료 본인 상품 Data -->
	<select id="saleSellerProductConfirmList" resultType="kr.co.asac.orders.bean.OrderBean">
		select p.pname
		, count(ocode) as Count
		, sum(p.pprice) as Total
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id} and oconfirmed='구매완료'
	</select>
	
</mapper>
