<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- saleMapper.xml -->

<mapper namespace="kr.co.asac.sales.dao.SaleDAO">
	
	<!-- saleAdmin -->
	<!-- 요일별 Data -->
	<select id="saleAdminDayList" resultType="kr.co.asac.orders.bean.OrderBean">
		select case dayofweek(oregdate)
			when 1 then "Sun"
			when 2 then "Mon"
			when 3 then "Tue"
			when 4 then "Wed"
			when 5 then "Thu"
			when 6 then "Fri"
			when 7 then "Sat" end as DateRange,
		count(case when oconfirmed = "구매완료" then 1 end) as Count,
		count(oconfirmed) as TCount,
		sum(case when oconfirmed = "구매완료" then ototal end) as Total,
		sum(ototal) as TTotal
		from orders o join member m on o.mid = m.mid join product p on o.pcode = p.pcode
		where date_format(oregdate,"%Y%m%d")
		group by dayofweek(oregdate)
	</select>
	
	<!-- 월별 Data -->
	<select id="saleAdminMonthList" resultType="kr.co.asac.orders.bean.OrderBean">
		select concat(month(oregdate),'월') as month,
        count(case when oconfirmed = "구매완료" then 1 end) as Count,
		count(oconfirmed) as TCount,
		sum(case when oconfirmed = "구매완료" then ototal end) as Total,
		sum(ototal) as TTotal
		from orders o join product p on o.pcode = p.pcode
		GROUP BY month(oregdate)
	</select>
	
	<!-- 판매자별 Data -->
	<select id="saleAdminSellerList" resultType="kr.co.asac.orders.bean.OrderBean">
		select s.sid,
		count(case when oconfirmed = "구매완료" then 1 end) as Count,
		count(oconfirmed) as TCount,
		sum(case when oconfirmed = "구매완료" then ototal end) as Total,
		sum(ototal) as TTotal
		from orders o join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		group by s.sid;
	</select>
	
	<!-- 카테고리별 Data -->
	<select id="saleAdminCateList" resultType="kr.co.asac.orders.bean.OrderBean">
		select p.pcate,
		count(case when oconfirmed = "구매완료" then 1 end) as Count,
		count(oconfirmed) as TCount,
		sum(case when oconfirmed = "구매완료" then ototal end) as Total,
		sum(ototal) as TTotal
		from orders o join product p on o.pcode = p.pcode
		group by p.pcate
	</select>
	
	<!-- 카테고리별 상품 Data -->
	<select id="saleAdminCateProductList" resultType="kr.co.asac.orders.bean.OrderBean">
		select p.pname,
		count(case when oconfirmed = "구매완료" then 1 end) as Count,
		count(oconfirmed) as TCount,
		sum(case when oconfirmed = "구매완료" then ototal end) as Total,
		sum(ototal) as TTotal
		from orders o join product p on o.pcode = p.pcode
		where p.pcate = #{pcate}
		group by p.pname
	</select>
	
	<!-- SaleSeller -->
	<!-- 요일별 Data -->
	<select id="saleSellerDayList" resultType="kr.co.asac.orders.bean.OrderBean">
		select case dayofweek(oregdate)
			when 1 then "Sun"
			when 2 then "Mon"
			when 3 then "Tue"
			when 4 then "Wed"
			when 5 then "Thu"
			when 6 then "Fri"
			when 7 then "Sat" end as DateRange,
		count(case when oconfirmed = "구매완료" then 1 end) as Count,
		count(oconfirmed) as TCount,
		sum(case when oconfirmed = "구매완료" then ototal end) as Total,
		sum(ototal) as TTotal
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id} and date_format(oregdate,"%Y%m%d")
		group by dayofweek(oregdate)
	</select>
	
	<!-- 일별 Data -->
	<select id="saleSellerDateList" resultType="kr.co.asac.orders.bean.OrderBean">
		select date(oregdate) as date,
		count(case when oconfirmed = "구매완료" then 1 end) as Count,
		count(oconfirmed) as TCount,
		sum(case when oconfirmed = "구매완료" then ototal end) as Total,
		sum(ototal) as TTotal
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id} and date_format(oregdate,"%Y%m%d")
		group by date(oregdate)
	</select>
	
	<!-- 월별 Data -->
	<select id="saleSellerMonthList" resultType="kr.co.asac.orders.bean.OrderBean">
		select month(oregdate) as month,
        count(case when oconfirmed = "구매완료" then 1 end) as Count,
		count(oconfirmed) as TCount,
		sum(case when oconfirmed = "구매완료" then ototal end) as Total,
		sum(ototal) as TTotal
		from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id} 
		GROUP BY month(oregdate)
	</select>
	
	<!-- 본인 상품 Data -->
	<select id="saleSellerProductList" resultType="kr.co.asac.orders.bean.OrderBean">
		select p.pname,
		count(case when oconfirmed = "구매완료" then 1 end) as Count,
		count(oconfirmed) as TCount,
		sum(case when oconfirmed = "구매완료" then ototal end) as Total,
		sum(ototal) as TTotal
		from orders o join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where s.sid = #{id}
		group by p.pname
	</select>
	
</mapper>
