<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- OrderMapper.xml -->

<mapper namespace="kr.co.asac.orders.dao.OrderDAO">

	<!-- OrderClient -->
	<!-- 내 주문목록 불러오기 -->
	<select id="orderClientList" resultType="kr.co.asac.orders.bean.OrderBean">
		select * from orders o join member m on o.mid = m.mid join product p on p.pcode = o.pcode where m.mid = #{mid}
	</select>
	
	<!-- 내 주문상세 불러오기 -->
	<select id="orderClientInfo" resultType="kr.co.asac.orders.bean.OrderBean">
		select * from orders o join member m on o.mid = m.mid join product p on p.pcode = o.pcode where ocode=#{ocode} 
	</select>
	
	<!-- 내 주문상세 배송정보 수정 -->
	<update id="orderClientUpdate" parameterType="kr.co.asac.orders.bean.OrderBean">
		update orders set oname=#{oname}, oaddrz=#{oaddrz} , oaddr=#{oaddr} , oaddrd=#{oaddrd} , ophone=#{ophone}, omessage=#{omessage} 
		where ocode=#{ocode}
	</update>
	
	<!-- 내 주문취소 -->
	<delete id="orderClientDelete" >
		delete from orders where ocode=#{ocode}
	</delete>
	
	<!-- 내 정보 불러오기 _ 주문에 사용 -->
	<select id="memberClientInfo" resultType="kr.co.asac.member.bean.MemberBean">
		select * from member where mid=#{mid} 
	</select>
	
	<!-- OrderSeller -->
	<select id="orderSellerList" resultType="kr.co.asac.orders.bean.OrderBean">
		select * from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			s.sid = #{id}
			<if test="searchSe.searchType==null">
			</if>
			<if test="searchSe.searchType=='pname' and searchSe.keyword != null and searchSe.keyword != '' ">
				AND p.pname like CONCAT('%', #{searchSe.keyword}, '%')
			</if>
			<if test="searchSe.searchType=='oname' and searchSe.keyword != null and searchSe.keyword != '' ">
				AND oname like CONCAT('%', #{searchSe.keyword}, '%')
			</if>
			<if test="searchSe.searchType=='mid' and searchSe.keyword != null and searchSe.keyword != '' ">
				AND o.mid like CONCAT('%', #{searchSe.keyword}, '%')
			</if>
		</trim>
		order by ocode desc
		limit #{searchSe.startList}, #{searchSe.listSize}
	</select>
	
	<!-- 전체 글의 개수를 읽어 오는 SQL문 -->
	<select id="orderSellerCount" resultType="int">
		select count(*) as listCnt from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			s.sid = #{id}
			<if test="searchSe.keyword != null and searchSe.keyword != '' ">
				<if test="searchSe.searchType=='pname'">
					AND p.pname like CONCAT('%', #{searchSe.keyword}, '%')
				</if>
				<if test="searchSe.searchType=='oname'">
					AND oname like CONCAT('%', #{searchSe.keyword}, '%')
				</if>
				<if test="searchSe.searchType=='mid'">
					AND m.mid like CONCAT('%', #{searchSe.keyword}, '%')
				</if>
			</if>
		</trim>
	</select>

	<select id="orderSellerInfo" resultType="kr.co.asac.orders.bean.OrderBean">
		select * from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where ocode = #{ocode}
	</select>
	
	<update id="orderSellerUpdate" parameterType="kr.co.asac.orders.bean.OrderBean">
		update orders
		set oname = #{oname}, ophone = #{ophone}, oaddrz = #{oaddrz}, oaddr = #{oaddr}, oaddrd = #{oaddrd}, oregdate = now() where ocode = #{ocode}
	</update>

	<delete id="orderSellerDelete" >
		delete from orders where ocode = #{ocode}
	</delete>
	
	<!-- OrderAdmin -->
	<select id="orderAdminList" resultType="kr.co.asac.orders.bean.OrderBean">
		select * from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchAd.searchType=='pname' and searchAd.keyword != null and searchAd.keyword != '' ">
				AND p.pname like CONCAT('%', #{searchAd.keyword}, '%')
			</if>
			<if test="searchAd.searchType=='oname' and searchAd.keyword != null and searchAd.keyword != '' ">
				AND oname like CONCAT('%', #{searchAd.keyword}, '%')
			</if>
			<if test="searchAd.searchType=='mid' and searchAd.keyword != null and searchAd.keyword != '' ">
				AND o.mid like CONCAT('%', #{searchAd.keyword}, '%')
			</if>
		</trim>
		order by ocode desc
		limit #{searchAd.startList}, #{searchAd.listSize}
	</select>
	
	<!-- 전체 글의 개수를 읽어 오는 SQL문 -->
	<select id="orderAdminCount" resultType="int">
		select count(*) as listCnt from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchAd.keyword != null and searchAd.keyword != '' ">
				<if test="searchAd.searchType=='pname'">
					AND p.pname like CONCAT('%', #{searchAd.keyword}, '%')
				</if>
				<if test="searchAd.searchType=='oname'">
					AND oname like CONCAT('%', #{searchAd.keyword}, '%')
				</if>
				<if test="searchAd.searchType=='mid'">
					AND m.mid like CONCAT('%', #{searchAd.keyword}, '%')
				</if>
			</if>
		</trim>
	</select>
	
	<select id="orderAdminInfo" resultType="kr.co.asac.orders.bean.OrderBean">
		select * from orders o join member m on o.mid = m.mid join seller s on o.sid = s.sid join product p on o.pcode = p.pcode
		where ocode = #{ocode}
	</select>
	
	<update id="orderAdminUpdate" parameterType="kr.co.asac.orders.bean.OrderBean">
		update orders
		set oname = #{oname}, ophone = #{ophone}, oaddrz = #{oaddrz}, oaddr = #{oaddr}, oaddrd = #{oaddrd}, oregdate = now() where ocode = #{ocode}
	</update>
	
	<delete id="orderAdminDelete" >
		delete from orders where ocode = #{ocode}
	</delete>
	
</mapper>
